html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 51%, #fbfb6e 100%);

}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  background-color: #f3fa64;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.nav__link {
  color: #315c2b;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}

.main__header {
  grid-area: main__header;
}

.main-header {
  font-size: 40px;
  color: #095a5a;
}

.notes {
  grid-area: notes;
  padding: 16px;
}

.section-header {
  color: #0a9686;
}

.week-summary {
  border: 1px solid white;
  margin-bottom: 15px;
}

.week-summary__header {
  color: #0a8072;
}


.week-summary__description {
  color: #edf5d8;
}

.html-facts {
  border: 1px solid white;
  margin-bottom: 15px;
}

.html-facts__header {
  color: #0a8072;
}

.html-facts__description {
  color: #edf5d8;
}

.css-facts {
  border: 1px solid white;
  margin-bottom: 15px;
}

.css-facts__header {
  color: #0a8072;
}

.css-facts__description {
  color: #edf5d8;
}


.aside {
  grid-area: aside;
  padding: 16px;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  color: #edf5d8;;
}


@media screen and (min-width: 768px) {
  .main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "main__header main__header"
    "notes aside"
    "footer footer" ;
  }
}