body {
  background-color: #fefefe;
}

.nav__link {
  color: #315c2b;
  font-size: 20px;
  text-decoration: none;
}

.main-header {
  font-size: 40px;
  color: #70abaf;
}

.header {
  color: #55b3a8;
}

.text {
  color: #442b3c;
}
